.dropdown {
    position: relative;
    /* display: block; */
    height: 5rem !important;
    border:"solid 1px #ccc";
  }
  
  .selected-option {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .options {
    /* display: none; */
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    height:80vh;
    box-shadow: 8px 0px 16px 0px rgba(0, 0, 0, 0.2);
  }
  .scrollable{
    overflow-y: scroll;
    height: 80vh;
  }
  .options-none {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  }
  
  .options .option {
    padding: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  } 

  .options .option svg {
    display: block !important;
    width: 100% !important; /* Adjust to the desired width */
    height: 100%; /* Adjust to the desired height */
  } 
  .options .option-none {
    display:"none";
    padding: 8px;
    cursor: pointer;
  }

  
  .options .option:hover {
    background-color: #ddd;
  }
  .devicename:hover{
    cursor:pointer;
    background-color: #ddd;
  }
  .devicename{
    padding: 10px 1.6rem;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }