.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modalWrapper {
    background: white;
    border-radius: 12px;
    padding: 20px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.header {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 16px;
}

.closeButton {
    background: none;
    border: none;
    color: #25cfc3;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.svgWrapper {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.title {
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 12px;
    font-family: 'Nunito', sans-serif;
}

.description {
    font-size: 16px;
    color: #595959;
    line-height: 1.5;
    margin-bottom: 16px;
    font-family: 'Nunito', sans-serif;
}

.copyWrapper {
    text-align: left;
}